@model DMS.Web.ViewModel.UserViewModel
@{
    ViewData["Title"] = "Registration";
}
<div class="register-box">
    <div class="register-logo">
        <img class="profile-user-img img-responsive" style="border:none" src="~/img/cdu-logo.png" />
        <a href="#"><b>CIETE</b>-DMS</a>
    </div>

    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Register a new membership</p>
            <form role="form" method="post" id="registrationForm">
                <div class="card-body">
                    <div class="form-group">
                        @*<label for="exampleInputFirstName">First Name</label>*@
                        <input type="text" asp-for="FirstName" name="firstname" class="form-control" id="txtFirstName" placeholder="Enter first name">
                    </div>
                    <div class="form-group">
                        @*<label for="exampleInputLastName">Last Name</label>*@
                        <input type="text" asp-for="LastName" name="lastname" class="form-control" id="txtLastName" placeholder="Enter last name">
                    </div>
                    <div class="form-group">
                        @*<label for="exampleUserType">User Type</label>*@
                        <select class="form-control" asp-for="UserType">
                            <option value="UC">Unit Coordinator</option>
                            <option value="CC">Course Coordinator</option>
                            <option value="AD">Admin</option>
                            <option value="RV">Reviewer</option>
                            <option value="AP">Approver</option>
                        </select>
                    </div>
                    <div class="form-group">
                        @*<label for="exampleInputemail">Email address</label>*@
                        <input type="email" asp-for="Email" name="email" class="form-control" id="txtEmail" placeholder="Enter email">
                    </div>

                    <div class="form-group">
                        @*<label for="exampleInputPassword">Password</label>*@
                        <input type="password" asp-for="Password" name="password" class="form-control" id="txtPassword" placeholder="Password">
                    </div>
                    @*<div class="form-group">
                        <label for="exampleInputConfirmPassword">Confirm Password</label>
                        <input type="password" name="confirmpassword" class="form-control" id="txtConfirmPassword" placeholder="Confirm Password">
                    </div>*@
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </div>
            </form>
            <a asp-controller="Home" asp-action="Login" class="text-center">I already have a membership</a>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
